@import "../typography/setting-mixins.scss";

.headings_wrapper {
    display: flex;
    align-items: flex-start;

    h2 {
        padding-left: 18px;
        width: 287px;
        @include lg() {
            padding-left: 32px;
            width: 550px;
        }
    }
}
.section_wrapper {
    width: 335px;
    margin: 0 auto;
    height: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    @include lg() {
        width: 1290px;
    }
}
.footer__nav__wrapper {
    display: grid;
    grid-template-rows: 20px 1fr;
    row-gap: 16px;
}
