.btn {
  background-color: #FF9100;
  color: white;
  border: none;
  border-radius: 100px;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-login {
  padding: 10px 22px;
  width: 82px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.btn--big {
  padding: 14px 32px;
  margin-right: 24px;
}

.main-contacts__find-us--btn {
  border: 1px solid #FF9100;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 14px 32px;
  background-color: white;
  width: 242px;
  height: 46px;
  justify-self: center;
  color: #FF9100;
}
