$primary50: #DFF4F1;
$primary300:#41BEAD;
$primary400:#00AF9B;

$secondary50:#FFF8E1;
$secondary500:#FFC20A;
$secondary600:#FFB402;
$secondary800:#FF9100;

$red:#FC4C50;

$gray: #676781;

$lilac: #9A5DC6;

$grey50:#F8F8F8;
$grey100:#F1F1F1;
$grey200:#E6E6E6;
$grey300:#D6D6D6;
$grey400:#B2B2B2;
$grey500: #919191;
$grey600: #696969;
$grey700:#565656;

$blue50: #E3F3FD;
$blue200:#92CDFB;
$blue300:#66B9F8;
$blue400:#44A9F8;
